<div class="list">

    <div id="head_left">
        <div class="search">
            <img id="icon_search" src="../../../assets/ICON/IconAppChat/4.svg" alt="">
            <input id="text_search" type="text"  placeholder="Tìm kiếm cuộc trò chuyện" [(ngModel)] = "searchFriend">
        </div>
        <div id="add">
            <img id="icon_add" src="../../../assets/ICON/IconboxChat/23.svg" alt="">
        </div>
    </div>
    <!-- (click) = "onClick(friends.id) -->
    <div class="list_friend" >
        <!-- [class.show]="friends.id == 2" -->
        <div id="friend" *ngFor="let friends of friend | friendFilter : searchFriend"  routerLink = '/message/{{friends.id}}' >
            
                <div id="avatar">
                    <img id="img_1" src="{{friends.avatar}}" alt="">
                    <img id="img_2" *ngIf = "friends.status" src="../../../assets/ICON/IconAppChat/green_sphere.svg" alt="">
                </div>
                <div class="content">
                    <p id="name" [ngStyle] = "{'color' : friends.noRep != 0 ? '#ffffff' : '#8e97a5'}"> {{friends.name}}</p>
                    <p id="message" [ngStyle] = "{'color' : friends.noRep != 0 ? '#ffffff' : '#8e97a5'}">{{friends.lastMassage}}</p>
                </div>
    
                <div class="detail">
                    <div id="time">
                        <p>{{friends.time}}</p>
                    </div>
                    <div id="count-message" *ngIf = "friends.noRep != 0">
                        <p>{{friends.noRep}}</p>
                    </div>
                </div>
        

        </div>
    </div>
</div>