<div class="header">
    
    <div class="left">
        <img id="img-select" src="../../../assets/ICON/IconAppChat/20.svg" alt="">

        <img id="icon-inbox" src="../../../assets/ICON/IconAppChat/18.svg" alt="">
        <p id="text-inbox">Nhắn tin</p>
    </div>
    <div class="avatar-class" >
        <!-- <img id="avatar" src="{{users[0].avatar}}" alt=""> -->
        <!-- <img id="avatar" src="../../../assets/Avatar/5.jpg" alt="">
        
        <ngx-avatar></ngx-avatar> -->
        <div class="dropdown dropleft" id="avatar">
            <div id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                <!-- <img *ngIf="user.imageUrl" src="user.imageUrl" alt="message-icon"> -->
                <ngx-avatar  size="34" name="{{username}}"></ngx-avatar>
            </div>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li id="logout" class="dropdown-item" (click) = onProfile()> Profile </li>
                <li id="logout" class="dropdown-item" (click)="logout()">Logout</li>
            </ul>
        </div>
    </div>

</div>


<div class = "profile" *ngIf = "checkOpenProfile">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
    <div class="view-account">
        <section class="module">
            <div class="module-inner">
                <div class="side-bar">
                    <div class="user-info">
                        <!-- <img class="img-profile img-circle img-responsive center-block" src="https://bootdey.com/img/Content/avatar/avatar1.png" alt=""> -->
                        <ngx-avatar  size="120" name="{{username}}"></ngx-avatar>
                        <ul class="meta list list-unstyled">
                            <li class="name">{{username}}
                                <!-- <label class="label label-info">UX Designer</label> -->
                            </li>
                            <li class="email"><a href="#">{{useremail}}</a></li>
                            <!-- <li class="activity">Last logged in: Today at 2:18pm</li> -->
                        </ul>
                    </div>
            		
                </div>
                <div class="content-panel">
                    <h2 class="title">Profile</h2>
                    <form class="form-horizontal"  action="" method="post" [formGroup]="form"
                     (ngSubmit)="onSubmit()" >
                        <fieldset class="fieldset">
                            <!-- <h3 class="fieldset-title">Personal Info</h3> -->
                            <div class="form-group avatar">
                                <figure class="figure col-md-2 col-sm-3 col-xs-12">
                                    <!-- <img class="img-rounded img-responsive" src="https://bootdey.com/img/Content/avatar/avatar1.png" alt=""> -->
                                    <ngx-avatar  size="64" name="{{username}}"></ngx-avatar>

                                </figure>
                                <div class="form-inline col-md-10 col-sm-9 col-xs-12">
                                    <input #fileInput  type="file" accept="image/*" class="file-uploader pull-left" formControlName="avatar" (change)="processImg(fileInput)" >
                                    <!-- <button type="submit" class="btn btn-sm btn-default-alt pull-left">Update Image</button> -->
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 col-sm-3 col-xs-12 control-label">User Name</label>
                                <div class="col-md-10 col-sm-9 col-xs-12">
                                    <input type="text" class="form-control" value="{{username}}" formControlName="UserName">
                                </div>
                            </div>
        
                            <div class="form-group">
                                <label class="col-md-2 col-sm-3 col-xs-12 control-label">Phone Number</label>
                                <div class="col-md-10 col-sm-9 col-xs-12">
                                    <input type="text" class="form-control" value="{{phone}}" formControlName="PhoneNumber">
                                </div>
                            </div>
                        
                        </fieldset>
                  
                        <hr>
                        <div class="form-group">
                            <div class="col-md-10 col-sm-9 col-xs-12 col-md-push-2 col-sm-push-3 col-xs-push-0">
                                <input class="btn btn-primary" type="submit" value="Update Profile">
                            </div>
                            <div class="col-md-10 col-sm-9 col-xs-12 col-md-push-2 col-sm-push-3 col-xs-push-0" >
                                <input class="btn" id= "cancel" type="submit" value="Cancel" (click) = "outProfile()">
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </section>
    </div>
</div>
</div>
