<div class="right container-fluid">

    <div class="head-right">
        <!-- phần hiện người đang trò chuyện và trạng thái -->

        <div id="avatar">
            <!-- <img src="{{friends.avatar}}" alt=""> -->
            <ngx-avatar  size="32" name="{{userInfor.userName}}"></ngx-avatar>  
            
           <!-- ng {{idUser}} -->
        </div>
        <div id="content">
             <p id="name">{{userInfor.userName}}</p>
            <p id="status"> Đang hoạt động </p> 
        </div>

        <div class="option">
            <img src="../../../assets/ICON/IconAppChat/2.svg" alt="">
            <!-- thay đổi icon hiện thông tin về cuộc trò chuyện  -->

            <img (click)="showInfor()"
                [src]=" check == false ? '../../../assets/ICON/IconAppChat/5.svg' : '../../../assets/ICON/IconAppChat/6.svg'">
            <img src="../../../assets/ICON/IconAppChat/4.svg" alt="">

        </div>


    </div>
    <div class="text_box">
        <!-- responsive chiều rộng khi ẩn , hiện phần hiển thị thông tin người và cuộc trò chuyện -->
        <div class="main-right" [ngStyle]="{'width' : check ? '100%' : 'calc(100% - 300px)'}">
            <!-- # scrollMe làm cho tanh scroll tự động cuộn xuống -->
            <!-- <div class="contact" #scrollMe>
                <div class="inline" *ngFor="let m of messages">
                     so sánh id để xác định bên hiện message 
                    <div class="bubbleWrapper" *ngIf="m.senderId != idAmin && m.type == 'text'">
                        <div class="inlineContainer">
                            <img class="inlineIcon" src="{{friends.avatar}}">
                            <div class="otherBubble other">
                                {{m.message}}
                            </div>
                        </div>
                         <span class="other">08:41</span> 
                    </div>
                      gửi ảnh 
                    <div class="bubbleWrapper" *ngIf="m.senderId != idAmin && m.type == 'img'">
                        <div class="inlineContainer">
                            <img class="inlineIcon" src="{{friends.avatar}}">
                            <div class=" other">
                                 click vào ảnh để lấy checkZoom và lấy src của ảnh 
                                <img src={{m.src}} (click) = "getClickImg(m.src)">
                            </div>
                        </div>
                        <span class="other">08:41</span> 
                    </div>
                     hiện các loại file 
                    <div class="bubbleWrapper" *ngIf="m.senderId != idAmin && (m.type == 'pdf' || m.type =='word' || m.type == 'excel' || m.type == 'pp')">
                        <div class="inlineContainer">

                            <img class="inlineIcon" src="{{friends.avatar}}">
                            <div class="otherBubble other">
                                 <img id="img-message-send" src={{m.src}}> 
                                 click vào file để download 
                                <a href="{{m.src}}" (click) = "downloadFile(m.src,m.message)">{{m.message}}</a>
                            </div>
                        </div>
                        <span class="own">08:55</span> 
                    </div>
                

                     khi tin nhắn là do user admin gửi 
                    <div class="bubbleWrapper" *ngIf="m.senderId == idAmin && m.type == 'text'">
                        <div class="inlineContainer own">

                             <img class="inlineIcon" src="{{users[0].avatar}}"> 
                            <img class="inlineIcon" src="../../../assets/Avatar/5.jpg">
                            <div class="ownBubble own">
                                {{m.message}}
                            </div>
                        </div>
                         <span class="own">08:55</span> 
                    </div>
                    <div class="bubbleWrapper" *ngIf="m.senderId == idAmin && m.type == 'img'">
                        <div class="inlineContainer own">

                             <img class="inlineIcon" src="{{users[0].avatar}}"> 
                            <img class="inlineIcon" src="../../../assets/Avatar/5.jpg">
                            <div class=" own">
                                 click vào ảnh để lấy checkZoom và lấy src của ảnh 
                                <img id="img-message-send" src={{m.src}} (click) = "getClickImg(m.src)">
                                <a href="">{{m.src}}</a> 
                            </div>
                        </div>
                         <span class="own">08:55</span> 
                    </div>
                    <div class="bubbleWrapper" *ngIf="m.senderId == idAmin && (m.type == 'word' || m.type =='pdf' || m.type == 'excel'|| m.type == 'pp')">
                        <div class="inlineContainer own">

                            <img class="inlineIcon" src="{{users[0].avatar}}"> 
                            <img class="inlineIcon" src="../../../assets/Avatar/5.jpg">
                            <div class="ownBubble own">
                                 <img id="img-message-send" src={{m.src}}>
                                <a href="{{m.src}}" (click) = "downloadFile(m.src,m.message)">{{m.message}}</a>
                            </div>
                        </div>
                        <span class="own">08:55</span> 
                    </div>
                    
                   
                </div>

                
            </div> -->


            <!-- ========================================================================================================== -->
            <!-- # scrollMe làm cho thanh scroll tự động cuộn xuống -->
            <div class="contact" #scrollMe>
                <div class="inline" *ngFor = "let message of messages">
                    <!-- so sánh id để xác định bên hiện message -->
                    <div class="bubbleWrapper" *ngIf = "message.sender != idUser">
                        <div class="inlineContainer">
                            <!-- <img class="inlineIcon" src=""> -->
                            <ngx-avatar  size="20" name="{{userInfor.userName}}"></ngx-avatar>  
                            <div class="otherBubble other">
                             {{message.content.content}}
                            </div>
                        </div>
                        <!-- <span class="other">08:41</span> -->
                    </div>
                    <!-- gửi ảnh -->
                    <!-- <div class="bubbleWrapper" >
                        <div class="inlineContainer">
                            <img class="inlineIcon" src="">
                            <div class=" other">
                                 click vào ảnh để lấy checkZoom và lấy src của ảnh 
                                <img src= "">
                            </div>
                        </div>
                         <span class="other">08:41</span> 
                    </div> -->
                    <!-- hiện các loại file -->
                    <!-- <div class="bubbleWrapper">
                        <div class="inlineContainer">

                            <img class="inlineIcon" src="">
                            <div class="otherBubble other">
                                 <img id="img-message-send" src={{m.src}}> 
                                 click vào file để download 
                                <a href=""></a>
                            </div>
                        </div>
                         <span class="own">08:55</span> 
                    </div> -->


                    <!-- khi tin nhắn là do user admin gửi -->
                    <div class="bubbleWrapper" *ngIf = "message.sender == idUser">
                        <div class="inlineContainer own">

                            <!-- <img class="inlineIcon" src="{{users[0].avatar}}"> -->
                            <!-- <img class="inlineIcon" src="../../../assets/Avatar/5.jpg"> -->
                            <ngx-avatar  size="20" name="{{userName}}"></ngx-avatar>        
                            <div class="ownBubble own">
                               {{message.content.content}}
                            </div>
                        </div>
                        <!-- <span class="own">08:55</span> -->
                    </div>
                    <!-- <div class="bubbleWrapper" >
                        <div class="inlineContainer own">

                             <img class="inlineIcon" src="{{users[0].avatar}}"> 
                            <img class="inlineIcon" src="../../../assets/Avatar/5.jpg">
                            <div class=" own">
                                 click vào ảnh để lấy checkZoom và lấy src của ảnh 
                                <img id="img-message-send" src="">
                                 <a href="">{{m.src}}</a> 
                            </div>
                        </div>
                         <span class="own">08:55</span> 
                    </div> -->
                    <!-- <div class="bubbleWrapper">
                        <div class="inlineContainer own">

                             <img class="inlineIcon" src="{{users[0].avatar}}"> 
                            <img class="inlineIcon" src="../../../assets/Avatar/5.jpg">
                            <div class="ownBubble own">
                                 <img id="img-message-send" src={{m.src}}> 
                                <a href="" ></a>
                            </div>
                        </div>
                         <span class="own">08:55</span> 
                    </div> -->


                </div>


            </div>






            <div class="type-bot">
                <div class="icon">

                    <label class="upFile">
                        <!-- các loại file có thể được chọn để gửi tin nhắn -->
                        <img id="tag" src="../../../assets/ICON/IconAppChat/10.svg" alt="">
                        <input #fileInput type="file" accept="image/*,application/pdf , 
                        application/vnd.openxmlformats-officedocument.wordprocessingml.document,
                        application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,
                        application/vnd.openxmlformats-officedocument.presentationml.presentation"
                            (change)="processImg(fileInput)">
                    </label>


                    <img id="picture" src="../../../assets/ICON/IconAppChat/9.svg" alt="">
                    <!-- <input #imageInput type="file" accept="image/*" (change)="processImg(imageInput)"> -->
                    <p id="buzz">Buzz!</p>


                </div>
                <div class="send">
                    <!-- nhận dữ liệu ở input khi nhấn enter -->
                    <input type="text" id="text" placeholder="Nhập nội dung tin nhắn, gõ @tên để nhắc tên"
                        (keydown.enter)="sendMessage($event)" autocomplete="off">
                    <div id="smile">
                        <img src="../../../assets/ICON/IconAppChat/7.svg" alt="">
                    </div>

                </div>
            </div>

        </div>

        <div class="extend" [hidden]="check">
            <!-- input mảng message sang component con extend component để lấy các file đã gửi -->
            <app-extend-box [message]="messages" [userInfor] = "userInfor"></app-extend-box>

        </div>


    </div>


</div>

<!-- click vào để zoom ảnh -->
<!-- xác định ảnh dựa vào imgsrc được xác định nhờ function getClickImg ở trên -->
<div *ngIf="checkZoom" class="zoom-img-click" (click)="UnZoom()">

    <img src={{imgsrc}} alt="">


</div>