p{
    padding: 0;
    margin: 0;
}
.head-right{
    width: 100%;
    height: 100px;
    padding: 24px;
    position: relative;
}
.infor_1{
    display: flex;
    flex-direction: row;
    float: left;
}
#avatar img{
   
    border-radius: 50%;
    width: 32px;
    height: 32px;
    overflow: hidden;
}
#name{
    font-size: 13px;
    font-weight: 500;
    color: #212121;
}
#status{
    font-size: 12px;
    color: #757575;
}
#content{
    margin-left: 7px;
}
//chia
.contact{
    height: 80%;
}
.bubbleWrapper {
	padding: 10px 10px;
	display: flex;
	justify-content: flex-end;
	flex-direction: column;
	align-self: flex-end;
  // color: #fff;
}
.inlineContainer {
  display: inline-flex;
}
.inlineContainer.own {
  flex-direction: row-reverse;
}
.inlineIcon {
  width:20px;
  object-fit: contain;
}
.ownBubble {
	min-width: 60px;
	max-width: 700px;
	padding: 7px 8px;
  margin: 6px 8px;
	background-color: #2688e6;
	border-radius: 16px 16px 0 16px;
  border: 1px solid #2688e6;
  color: #ffffff;
 
}
.otherBubble {
	min-width: 60px;
	max-width: 700px;
	padding: 7px 8px;
  margin: 6px 8px;
	background-color:  #eeeeee;
	border-radius: 16px 16px 16px 0;
  border: 1px solid  #eeeeee;
  color: #212121;
  
}
.own {
	align-self: flex-end;
}
.other {
	align-self: flex-start;
}
span.own,
span.other{
  font-size: 14px;
  color: grey;
}
.option{
  float: right;
  padding-right: 24px;
  height: 65px;
  padding-top: 24px;
}
.option img{
  margin-left: 12px;
  cursor: pointer;
  float: right;
}
.right{
  position: relative;
}
.text{
  width: 80%;
  float: left;
  // border: 1px solid red;
}
.infor{
  width: 20%;
  height: 94vh;
  float: right;
  // border: 1px solid blue;
  display: flex;
  flex-direction: column;
}
// type
.type-bot{
  /* position: relative; */
  padding-left: 30px;
  padding-right: 26px;
  display: flex;
  /* flex-direction: row; */
  align-items: center;
  width: 100%;

  
}
.icon{
  width: 172px;
  height: 61px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
#buzz{
  background-color: #f86060;
  border-radius: 3px;
  width: 43px;
  height: 20px;
  overflow: hidden;
  text-align: center;
  font-size: 13px;
  font-weight: 500;
  color: #ffffff;
  cursor: pointer;
}
.icon img{
  margin-right: 15px;
}
#tag{
  color: #cccccc;
  width: 24px;
  height: 24px;
}
#picture{
  width: 24px;
  height: 24px;
}
.send{
  background-color: #ffffff;
  border-radius: 7.5px;
  border: 1px solid #e0e0e0;
  width: 100%;
  height: 39px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  
}
#text{
  border: none;
  width: 92%;
  height: 39px;
  outline: none;
  padding-left: 20px;
}
.send img{
  width: 24px;
  height: 24px;
  position: absolute;
  right: 10px;
  cursor: pointer;
}
