p{
    padding: 0;
    margin: 0;
}
.head-right{
    width: 100%;
    
    padding: 24px 24px 5px 24px;
    position: relative;
    display: flex;
    flex-direction: row;
    
}
.option{
  height: 65px;
  position: absolute;
  right: 24px;
}
.option img{
  margin-left: 12px;
  cursor: pointer;
  float: right;
}

#avatar img{
   
    border-radius: 50%;
    width: 32px;
    height: 32px;
    overflow: hidden;
}
#name{
    font-size: 13px;
    font-weight: 500;
    color: #212121;
}
#status{
    font-size: 12px;
    color: #757575;
}
#content{
    margin-left: 7px;
}
//chia

.bubbleWrapper {
  padding-top: 10px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 0px;
	display: flex;
	justify-content: flex-end;
	flex-direction: column;
	align-self: flex-end;
  // color: #fff;
}
.inlineContainer {
  display: inline-flex;
  align-items: center;
}
.inlineContainer.own {
  flex-direction: row-reverse;
}
.inlineIcon {
  width:20px;
  height: 20px;
  object-fit: contain;
  border-radius: 50%;
}
.ownBubble {
	min-width: 60px;
	max-width: 406px;
	padding: 7px 8px;
  margin: 6px 8px;
	background-color: #2688e6;
	border-radius: 16px 16px 16px 16px;
  border: 1px solid #2688e6;
  color: #ffffff;
  font-size: 13px;
  
 
}
.otherBubble {
	min-width: 60px;
	max-width: 406px;
	padding: 7px 8px;
  margin: 6px 8px;
	background-color:  #eeeeee;
	border-radius: 16px 16px 16px 16px;
  border: 1px solid  #eeeeee;
  color: #212121;
  font-size: 13px;
  
  
}
.message-left{
  position: absolute;
  left: 0;
}
.message-right{
  position: relative;
}
.own {
  align-self: flex-end;
 
}
.other {
  align-self: flex-start;
 
}
span.own,
span.other{
  font-size: 12px;
  color: grey;
}

.right{
  position: relative;
  height: 100%;
}
.text_box{
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  height: calc(100% - 66px);
}
.main-right{
  display: flex;
  flex-direction: column;
  position: relative;
  @media screen and (max-width : 992px) {
    width: calc(100% - 250px)!important;
  }
  @media screen and (max-width : 768px) {
    width: calc(100% - 200px)!important;
  }
  @media screen and (max-width : 576px) {
    width: calc(100% - 150px)!important;
  }
  
}
.contact{
  width: 100%;
  height: calc(100% - 61px);
  display: inline-block;
  flex-direction: column;
  position: relative;
  overflow-y: scroll;
  
}
.contact::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}
.extend{
  position: absolute;
  right: 0px;
  width: 300px;
  height: 100%;
  @media screen and (max-width : 992px) {
    width: 250px;
  }
  @media screen and (max-width : 768px) {
    width: 200px;
  }
  @media screen and (max-width : 576px) {
    width: 150px;
  }
}
.container-fluid{
  padding: 0!important;
}

// type
.type-bot{
  width: 100%;
  padding-left: 20px;
  padding-right: 26px;
  display: flex;
  /* flex-direction: row; */
  align-items: center;
  position: absolute;
  bottom: 0;
  background-color: #f8f8f8;
  
}
.icon{
  width: 20%;
  height: 61px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 3%;
  
}
#buzz{
  background-color: #f86060;
  border-radius: 3px;
  width: 43px;
  height: 20px;
  overflow: hidden;
  text-align: center;
  font-size: 13px;
  font-weight: 500;
  color: #ffffff;
  cursor: pointer;
}
.icon img{
  margin-right: 15%;
}
#tag{
  color: #cccccc;
  width: 24px;
  height: 24px;
}
#picture{
  width: 24px;
  height: 24px;
}
.send{
  background-color: #ffffff;
  border-radius: 7.5px;
  border: 1px solid #e0e0e0;
  width: 80%;
  height: 39px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  justify-content: center;
  
}
#text{
  border: none;
  width: 100%;
  height: 39px;
  outline: none;
  padding-left: 20px;
  overflow: hidden;
}
#smile{
  width: 50px;
  height: 39px;
  display: flex;
  align-items: center;
  justify-content: center;

}
.send img{
  width: 24px;
  height: 24px;
  position: absolute;
  right: 10px;
  cursor: pointer
}
