<div class="right container-fluid">

    <div class="head-right">

        <div id="avatar">
            <img src="{{friends.avatar}}" alt="">
        </div>
        <div id="content">
            <p id="name">{{friends.name}}</p>
            <p id="status">Hoạt động 12 phút trước</p>
        </div>

        <div class="option">
            <img src="../../../assets/ICON/IconAppChat/2.svg" alt="">
            <img (click)="showInfor()"
                [src]=" check == false ? '../../../assets/ICON/IconAppChat/5.svg' : '../../../assets/ICON/IconAppChat/6.svg'">
            <img src="../../../assets/ICON/IconAppChat/4.svg" alt="">

        </div>


    </div>
    <div class="text_box">
        <div class="main-right" [ngStyle]="{'width' : check ? '100%' : 'calc(100% - 300px)'}">
            <div class="contact" #scrollMe>
                <div class="inline" *ngFor="let m of messages">

                    <div class="bubbleWrapper" *ngIf="m.senderId != idAmin && m.type == 'text'">
                        <div class="inlineContainer">
                            <img class="inlineIcon" src="{{friends.avatar}}">
                            <div class="otherBubble other">
                                {{m.message}}
                            </div>
                        </div>
                        <!-- <span class="other">08:41</span> -->
                    </div>


                    <div class="bubbleWrapper" *ngIf="m.senderId == idAmin && m.type == 'text'">
                        <div class="inlineContainer own">

                            <img class="inlineIcon" src="../../../assets/Avatar/5.jpg">
                            <div class="ownBubble own">
                                {{m.message}}
                            </div>
                        </div>
                        <!-- <span class="own">08:55</span> -->
                    </div>
                    <div class="bubbleWrapper" *ngIf="m.senderId == idAmin && m.type == 'img'">
                        <div class="inlineContainer own">

                            <img class="inlineIcon" src="../../../assets/Avatar/5.jpg">
                            <div class=" own">
                                <img id="img-message-send" src={{m.src}}>
                            </div>
                        </div>
                        <!-- <span class="own">08:55</span> -->
                    </div>
                    <div class="bubbleWrapper" *ngIf="m.senderId == idAmin && m.type == 'pdf'">
                        <div class="inlineContainer own">

                            <img class="inlineIcon" src="../../../assets/Avatar/5.jpg">
                            <div class=" own">
                                <p>{{m.src}}</p>
                            </div>
                        </div>

                    </div>
                    <!-- <div class="imgMessage" *ngIf = "m.type == 'img'"  >
                        
                    </div> -->


                </div>
            </div>

            <div class="type-bot">
                <div class="icon">

                    <label class="upFile">
                        <img id="tag" src="../../../assets/ICON/IconAppChat/10.svg" alt="">
                        <input #fileInput type="file" accept="image/*,application/pdf" (change)="processImg(fileInput)">
                    </label>


                    <img id="picture" src="../../../assets/ICON/IconAppChat/9.svg" alt="">
                    <!-- <input #imageInput type="file" accept="image/*" (change)="processImg(imageInput)"> -->
                    <p id="buzz">Buzz!</p>


                </div>
                <div class="send">
                    <input type="text" id="text" placeholder="Nhập nội dung tin nhắn, gõ @tên để nhắc tên"
                        (keydown.enter)="showMessage($event)">
                    <div id="smile">
                        <img src="../../../assets/ICON/IconAppChat/7.svg" alt="">
                    </div>

                </div>
            </div>

        </div>

        <div class="extend" [hidden]="check">
            <app-extend-box [message] = "messages"></app-extend-box>
           
        </div>


    </div>


</div>