.body_1{
    position: relative;
    display: flex;
    height: 100%;
}
html,body{
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}
.union{
    height: 100%;
}

.container-fluid{
    margin: 0 !important;
    padding: 0 !important;
}
#left{
    width: 350px;
    height: 100%;
    // @media screen and (max-width : 992px) and (min-width : 768px) {
    //     width: 20%;
    // }
    @media screen and (max-width : 992px){
        max-width: 310px;
    }
    @media screen and (max-width : 768px){
        max-width: 100px;
    }

    @media screen and (max-width : 562px){
        max-width: 100px;
    }
}
.header{
    height: 56px;
    width: 100%;
    position: fixed!important;
    top: 0;
    left: 0;
}
#right{
    flex-grow: 1;
    order: 2;
    height: 100%;
   
    
}