.body_1{
    position: relative;
    display: flex;
    height: 100%;
}
html,body{
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}
.union{
    height: 100%;
}
.m100{
    height: 100%;
    min-height: 100%;
}
.container-fluid{
    margin: 0 !important;
    padding: 0 !important;
}
#left{
    width: 25%;
    height: 100%;
    @media screen and (max-width : 992px) {
        width: 97px;
    }
    
    @media screen and (max-width : 768px){
        width: 97px;
    }
    @media screen and (max-width : 562px){
        width: 97px;
    }
}
.header{
    width: 100%;
    position: fixed!important;
    top: 0;
    left: 0;
}
#right{
    flex-grow: 1;
    order: 2;
    border: 1px solid red;
    height: 100%;
   
    
}