<div class="infor-right">
    <div class="infor-acc">
        <img id="avatar" src="{{friends.avatar}}" alt="">
        <div id="infor-text">
            <p id="name">{{friends.name}}</p>
            <p id="phone">{{friends.number}}</p>
            <p id="email">{{friends.email}}</p>
        </div>
    </div>
    <div class="file-shared">
        <div class="title">
            <p id="name-file">TỆP ĐÃ CHIA SẺ</p>
            <img id="icon" (click)="showFile()"
                [src]="checkFile == false ? '../../../assets/ICON/IconAppChat/13.svg' : '../../../assets/ICON/IconAppChat/19.svg'">
        </div>
        <div id="list-file" [hidden]="checkFile" #scrollMe [ngStyle] = "{'max-height' : checkImg == true ? '150px' : '70px'}">
            <div id="file" *ngFor="let file of message">
                    <!-- <img *ngIf = "file.type == 'pdf' || file.type == 'word' || file.type == 'excel' || file.type == 'pp'" id="icon-pdf" src="{{file.fileIcon}}"> -->
                    <img *ngIf = "file.type == 'pdf'" id="icon-pdf" src="../../../assets/ICON/IconAppChat/pdf-icon.svg">
                    <img *ngIf = "file.type == 'word'" id="icon-pdf" src="../../../assets/ICON/IconAppChat/microsoft-word.svg">
                    <img *ngIf = "file.type == 'excel'" id="icon-pdf" src="../../../assets/ICON/IconAppChat/microsoft-excel.svg">
                    <img *ngIf = "file.type == 'pp'" id="icon-pdf" src="../../../assets/ICON/IconAppChat/microsoft-powerpoint.svg">
                     <p *ngIf = "file.type == 'pdf' || file.type == 'word' || file.type == 'excel' || file.type === 'pp'" id="name-pdf"><a (click) = "downloadFile(file.src,file.message)" href="{{file.src}}">{{file.message}}</a></p>
                
            </div>
        </div>
        <div class="title-img">
            <p id="name-file">ẢNH ĐÃ CHIA SẺ</p>
            <img id="icon" (click)="showImg()"
                [src]="checkImg == false ? '../../../assets/ICON/IconAppChat/13.svg' : '../../../assets/ICON/IconAppChat/19.svg' ">
        </div>
        <div id="list-img" #scrollMe_2 [hidden]="checkImg" [ngStyle] = "{'height' : checkFile == true ? '140px' : '70px'}">
            <div id="img" *ngFor="let imgs of message" >
                <img *ngIf = "imgs.type == 'img'" src="{{imgs.src}}" (click) = "getClickImg(imgs.src)" alt="">
            </div>
        </div>

    </div>
   
</div>
<div  *ngIf="checkZoom" class="zoom-img-click">
    
        <img src="../../../assets/ICON/IconboxChat/3.svg" alt="" class="icon-clock" (click) = "UnZoom()">
        <img src= {{imgsrc}} alt="">
    
    
</div>
